<% if @view_in_config && @erb_code %>
  <%= render inline: @erb_code %>
  
<% else %>
<h4><%=@title %></h4>
<%= simple_form_for @item do |f| %>    

  <%= f.input :batch_id, :label => t("Batch#"), :readonly => true, :input_html => {:value => @batch.id} %>
  <%= f.input :name, :label => t("Name"), :readonly => true, :input_html => {:value => @name} %>
  <%= f.input :in_date, :label => t("In Date"), :as => :string %> 
  <%= f.input :in_qty, :label => t("In Qty"), :input_html => {:value => @qty} %>
  <%= f.input :storage_location, :label => t("Storage Location") %> 
  <%= f.input :packaging_desp, :label => t("Packaging"), :input_html => {:rows => 1} %>
  <%= f.input :brief_note, :label => t("Brief Note"), :input_html => {:rows => 2} %>
  
  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  <%= f.button :submit, t('Save'), :class => BUTTONS_CLS['action'] %>  
<% end %>

<% end %>
